@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--font-main);
  color: var(--color-5);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

:root {
  --font-main: "Roboto", sans-serif;
  --color-1: #072ac8;
  --color-2: #43d2ff;
  --color-3: #a2d6f9;
  --color-4: #d1edff;
  --color-5: #292e47;
  --color-6: #6b708d;
  --color-7: #f2f4fc;
  --color-8: #ecf7ff;
  --color-9: #ffc600;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-wrong: #b33a3a;
  --color-right: #28a428;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem ;
  color: #072ac8;
  font-weight: 600;
  
  
  
}
.logo {
  margin: 0;
}

.menu {
  margin-left: 300px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: flex-end;
  
}

.menu a:hover {
  text-decoration: underline;
}

.nav-button {
  background-color: #072ac8;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  
}
/* HERO */
.hero {
  margin: 60px auto;
  display: flex;
  flex-direction:row;
  padding: 2rem;
}

.hero-text {
  flex: 1;
  padding: 2rem;
  max-width: 500px;

}

.hero-subtittle{
  margin-top: 2rem;

}

.hero-button{
  background-color: #072ac8;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  margin: 2rem 2rem 0 0;
  
  
}
.hero-images {
  flex: 1;
  position: relative;
}


.principal-image {
  width: 570px;
}

.card-1 {
  position: absolute;
  top: 0;
  left:5%;
  width: 250px;
  }

.card-2 {
  position: absolute;
  width: 250px;
  bottom: 0;
  right: 10%
}

/* client section */
.partners{
  display: flex;
  flex-direction: row;
  padding: 4rem;
  align-items: flex-start;
}

.partners img{
  filter: grayscale(1)
}

.partners img:hover{
   filter: grayscale(0)
}


/*Recents Projects/*

/* RECENT PROJECTS */
.recent-projects {
  padding: 2rem 4rem;
  margin: 4rem auto;
}

.recent-projects h2 {
  margin: 0 0 2rem 0;
}

.projects-grid {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
.project-wrapper {
  margin: 0;
  display: block;
}

.project-card {
  flex: 1;
  background: var(--color-white);
  border-radius: 8px;
  overflow: hidden;
}

.project-card img {

  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-card div {
  padding: 1rem;
}

.project-card h4 {
  margin-bottom: 0.5rem;
  color: black;
}

.project-card p {
  color: var(--color-6);
  margin-bottom: 1rem;
}

.project-card a {
  color: var(--color-1);
  font-weight: bold;
}

.project-card:hover {
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

/*Testimonial*/
.testimonial {
  height: 622px;
  background-color: var(--color-5);
  padding: 4rem;
  text-align: center;
  position: relative;
  margin: 0 4rem;
}
.testimonial-content {
  margin-top: 5rem;
}

.testimonial-content h3 {
  color: var(--color-white);
  margin-bottom: 2rem;
  font-size: 2rem;
}

.quote {
  color: var(--color-9);
  margin-bottom: 2rem;
}

.emoji {
  width: 150px;
}
.emoji-1 {
  position: absolute;
  top: 10%;
  left: 5%;
}

.emoji-2 {
  position: absolute;
  top: 10%;
  right: 5%;
}

.emoji-3 {
  position: absolute;
  bottom: 10%;
  left: 5%;
}

.emoji-4 {
  position: absolute;
  bottom: 10%;
  right: 5%;
}
.quote {
  color: var(--color-9);
  margin-bottom: 3rem;
}

.testimonial-author {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.profilePicture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}